<section class="login-form">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" (ngSubmit)="login()" #loginForm=ngForm>
        <mat-form-field>
            <input type="text" matInput placeholder="Login" name="username" [(ngModel)]="loginData.username" maxlength="45" required />
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput placeholder="Password" name="password" [(ngModel)]="loginData.password" minlength="6" required />
        </mat-form-field>
        <mat-checkbox name="remember" ngModel>Remember me on this computer</mat-checkbox>
        <button type="submit" mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>
    </form>
</section>
