<section class="login-form">
    <mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" (submit)="onLogin(loginForm)" #loginForm=ngForm *ngIf="!isLoading">
        <mat-form-field>
            <input type="text" matInput ngModel placeholder="Login" name="username" #usernameInput="ngModel" maxlength="45" required />
            <mat-error *ngIf="usernameInput.invalid">Please enter your username.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput ngModel placeholder="Password" name="password" #passwordInput="ngModel" minlength="6" required />
            <mat-error *ngIf="passwordInput.invalid">Please enter your password.</mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" *ngIf="!isLoading">Login</button>
    </form>
</section>
