<section class="login-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="loginForm" id="loginFormObj" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input type="text" matInput placeholder="Login" name="login" formControlName="login" maxlength="45">
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" name="password" minlength="6" formControlName="password" maxlength="45">
    </mat-form-field>
    <mat-checkbox name="remember" formControlName="remember">Remember me on this computer</mat-checkbox>
    <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
  </form>
</section>
