.usernameFormElement {
    margin-bottom: 10px;
}

.usernameInputBox {
    width: 250px;
}

.topRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.credentialsSection {
    margin: 10px;
    min-width: 295px;
    display: block;
}

.credentialsContainer {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.metadataSection {
    display: block;
    min-width: 440px;
    max-width: 600px;
    margin: 10px;
}

.metadataContainer {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.captchaSection {
    margin: 15px;
    clear: both;
}

.captchaContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
