<mat-card class="plugin-card">
    <form>
        {{ 'core.plugin_admin.plugin-installer.to_install_plugin_not_on_registry' | translate }}:<br />
        <mat-form-field>
            <input type="text" matInput placeholder="{{ 'core.plugin_admin.plugin-installer.enter_url_for_plugin' | translate }}" name="pluginurl" [(ngModel)]="pluginUploadUrl" (change)="verifyPluginUrl($event)">
        </mat-form-field>
        <br />
        {{ 'core.plugin_admin.plugin-installer.or' | translate }}
        <br />
        <div class="fileUploadDiv">
            <button *ngIf="!pluginUploadFile" mat-raised-button color="primary" (click)="onFileUploadClick()">
                <mat-icon>folder</mat-icon>
                {{ 'core.plugin_admin.plugin-installer.click_to_upload' | translate }}
            </button>
            <div *ngIf="pluginUploadFileName">
                <span>{{pluginUploadFileName}}</span>
                <button mat-icon-button color="accent" (click)="removeFile()">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
        <input #fileUpload type="file" class="fileupload" name="pluginfile" (change)="verifyPluginFile($event)">
        <br />
        <mat-card-actions class="rightJustifiedContainer">
            <button mat-raised-button color="primary" [disabled]="pluginUploadFormDisabled" (click)="installPlugin()">{{ 'core.plugin_admin.plugin-installer.install_button' | translate }}</button>
        </mat-card-actions>
    </form>
</mat-card>
<mat-divider></mat-divider>
<ng-container *ngIf="availablePlugins && availablePlugins.length > 1">
    <mat-card class="plugin-card" *ngFor="let plugin of availablePlugins">
        <mat-card-header>
            <mat-card-title>{{plugin.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="plugin.description">{{plugin.description}}</div>
            <div>{{ 'core.plugin_admin.plugin_admin.version' | translate:{'version':plugin.version} }}</div>
        </mat-card-content>
        <mat-card-actions class="rightJustifiedContainer">
            <button mat-raised-button color="primary" *ngIf="!plugin.enabled" (click)="onInstallRegisteredPlugin(plugin.name)">{{ 'core.plugin_admin.plugin-installer.install_button' | translate }}</button>
        </mat-card-actions>
    </mat-card>
</ng-container>
<ng-container *ngIf="availablePlugins && availablePlugins.length < 1">
    <mat-card class="plugin-card">
        <mat-card-content>
            <div>{{ 'core.plugin_admin.plugin-installer.no_registered_plugins_available' | translate }}</div>
        </mat-card-content>
    </mat-card>
</ng-container>
