<mat-card class="plugin-card">
    <form #installPluginForm=ngForm>
        To install a plugin that is not included in the plugin registry:<br />
        <mat-form-field>
            <input type="text" matInput placeholder="Enter the url for the plugin zip file" name="pluginurl">
        </mat-form-field>
        <br />
        or
        <br />
        <mat-form-field>
            <ngx-mat-file-input #removableInput placeholder="Click here to upload a plugin zip file" [accept]="'.zip'"></ngx-mat-file-input>
            <button mat-icon-button matSuffix *ngIf="!removableInput.empty" (click)="removableInput.clear($event)">
                <mat-icon>clear</mat-icon>
            </button>
        </mat-form-field>
        <br />
        <mat-card-actions class="rightJustifiedContainer">
            <button mat-raised-button color="primary">Install</button>
        </mat-card-actions>
    </form>
</mat-card>
<mat-divider></mat-divider>
<ng-container *ngIf="availablePlugins && availablePlugins.length > 1">
    <mat-card class="plugin-card" *ngFor="let plugin of availablePlugins">
        <mat-card-header>
            <mat-card-title>{{plugin.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="plugin.description">{{plugin.description}}</div>
            <div>{{ 'core.plugin_admin.plugin_admin.version' | translate:{'version':plugin.version} }}</div>
        </mat-card-content>
        <mat-card-actions class="rightJustifiedContainer">
            <button mat-raised-button color="primary" *ngIf="!plugin.enabled" (click)="onInstallPlugin(plugin.name)">Install</button>
        </mat-card-actions>
    </mat-card>
</ng-container>
<ng-container *ngIf="availablePlugins && availablePlugins.length < 1">
    <mat-card class="plugin-card">
        <mat-card-content>
            <div>There are no registered plugins available that are not already installed</div>
        </mat-card-content>
    </mat-card>
</ng-container>
