.plugin-card {
    margin: 10px;
}

.enabledText {
    color: green;
}

.warningText {
    color: red;
}

mat-form-field {
    width: 90%;
}

.rightJustifiedContainer {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

form mat-card-actions {
    margin-bottom: 0;
    padding-bottom: 0;
}

.fileUploadDiv {
    margin-top: 8px;
    height: 30px;
}

.fileupload {
    display:none;
}
