# This file defines all environment variables that the application needs.
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE.
# Use ".env.local" for local overrides during development.
# Use real environment variables when deploying to production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

######DATABASE CONFIGURATION PARAMETERS###############################
######UNCOMMENT ONLY ONE SET OF PARAMETERS############################

######TO USE MYSQL UNCOMMENT THESE LINES##############################
DATABASE_URL=mysql://root:password@mysql/symbiota
DATABASE_DRIVER='pdo_mysql'
DATABASE_SERVER_VERSION='5.7'
######################################################################

######TO USE MARIADB UNCOMMENT THESE LINES############################
#DATABASE_URL=mysql://root:password@mariadb/symbiota
#DATABASE_DRIVER='pdo_mysql'
#DATABASE_SERVER_VERSION='mariadb-10.4.1'
######################################################################

######TO USE POSTGRES UNCOMMENT THESE LINES###########################
#DATABASE_URL=postgres://postgres:password@postgres/symbiota
#DATABASE_DRIVER='pdo_pgsql'
#DATABASE_SERVER_VERSION='12.0'
######################################################################

######TO USE SQLITE UNCOMMENT THIS LINE###############################
#DATABASE_URL=sqlite:///%kernel.project_dir%/data/sqlite/symbiota.db
######################################################################

######TO USE LOCAL DB UNCOMMENT THESE LINES AND EDIT##################
#DATABASE_URL=
#DATABASE_DRIVER=''
#DATABASE_SERVER_VERSION=''
######################################################################

######################################################################

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=1234567891011121314151617181920
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS='^localhost|example\.com$'
###< symfony/framework-bundle ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN=^https?://localhost(:[0-9]+)?$
###< nelmio/cors-bundle ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=1234567891011121314151617181920
###< lexik/jwt-authentication-bundle ###

###> symfony/swiftmailer-bundle ###
# For Gmail as a transport, use: "gmail://username:password@localhost"
# For a generic SMTP server, use: "smtp://localhost:25?encryption=&auth_mode="
# Delivery is disabled by default via "null://localhost"
MAILER_URL=null://localhost
###< symfony/swiftmailer-bundle ###
