# See http://help.github.com/ignore-files/ for more about ignoring files.

###< symfony/framework-bundle >###
/.env
/.env.local
/.env.*.local
/composer.lock
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle >###

# compiled output
/dist
/dist-server
/tmp
/out-tsc

# dependencies
node_modules/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

Homestead.json
Homestead.yaml
/.rnd
/package-lock.json
/config/sql/dev/
/config/sql/default/
/docker/data/

/*.yml
/config/packages/api_platform.yaml
/config/packages/doctrine.yaml
/config/plugin-config.json
/config/plugin-config.json.bak
/plugin-composer.json
/angular.json
/tsconfig.json
/package.json
/docs/.sass-cache/
/docs/_site/
/docs/Gemfile.lock
