{
  "compileOnSave": false,
  "compilerOptions": {
    "baseUrl": "./",
    "outDir": "./dist/out-tsc",
    "sourceMap": true,
    "declaration": false,
    "module": "esnext",
    "moduleResolution": "node",
    "emitDecoratorMetadata": true,
    "experimentalDecorators": true,
    "importHelpers": true,
    "target": "es2015",
    "typeRoots": [
      "node_modules/@types"
    ],
    "lib": [
      "es2018",
      "dom"
    ],
    "paths": {
      "checklist": [
        "dist/checklist"
      ],
      "checklist/*": [
        "dist/checklist/*"
      ],
      "collection": [
        "dist/collection"
      ],
      "collection/*": [
        "dist/collection/*"
      ],
      "occurrence": [
        "dist/occurrence"
      ],
      "occurrence/*": [
        "dist/occurrence/*"
      ],
      "taxa": [
        "dist/taxa"
      ],
      "taxa/*": [
        "dist/taxa/*"
      ],
      "occurrence-search": [
        "dist/occurrence-search"
      ],
      "occurrence-search/*": [
        "dist/occurrence-search/*"
      ],
      "symbiota-spatial": [
        "dist/symbiota-spatial"
      ],
      "symbiota-spatial/*": [
        "dist/symbiota-spatial/*"
      ],
      "symbiota-auth": [
        "dist/symbiota-auth"
      ],
      "symbiota-auth/*": [
        "dist/symbiota-auth/*"
      ],
      "symbiota-shared": [
        "dist/symbiota-shared"
      ],
      "symbiota-shared/*": [
        "dist/symbiota-shared/*"
      ],
      "symbiota-plugin": [
        "dist/symbiota-plugin"
      ],
      "symbiota-plugin/*": [
        "dist/symbiota-plugin/*"
      ],
      "symbiota-plugin-loader": [
        "dist/symbiota-plugin-loader"
      ],
      "symbiota-plugin-loader/*": [
        "dist/symbiota-plugin-loader/*"
      ],
      "crowd-source": [
        "dist/crowd-source"
      ],
      "crowd-source/*": [
        "dist/crowd-source/*"
      ],
      "exsiccati": [
        "dist/exsiccati"
      ],
      "exsiccati/*": [
        "dist/exsiccati/*"
      ],
      "glossary": [
        "dist/glossary"
      ],
      "glossary/*": [
        "dist/glossary/*"
      ],
      "image-processor": [
        "dist/image-processor"
      ],
      "image-processor/*": [
        "dist/image-processor/*"
      ],
      "key": [
        "dist/key"
      ],
      "key/*": [
        "dist/key/*"
      ],
      "media": [
        "dist/media"
      ],
      "media/*": [
        "dist/media/*"
      ],
      "occurrence-association": [
        "dist/occurrence-association"
      ],
      "occurrence-association/*": [
        "dist/occurrence-association/*"
      ],
      "occurrence-comment": [
        "dist/occurrence-comment"
      ],
      "occurrence-comment/*": [
        "dist/occurrence-comment/*"
      ],
      "occurrence-dataset": [
        "dist/occurrence-dataset"
      ],
      "occurrence-dataset/*": [
        "dist/occurrence-dataset/*"
      ],
      "occurrence-genetic": [
        "dist/occurrence-genetic"
      ],
      "occurrence-genetic/*": [
        "dist/occurrence-genetic/*"
      ],
      "occurrence-loan": [
        "dist/occurrence-loan"
      ],
      "occurrence-loan/*": [
        "dist/occurrence-loan/*"
      ],
      "reference": [
        "dist/reference"
      ],
      "reference/*": [
        "dist/reference/*"
      ],
      "traits": [
        "dist/traits"
      ],
      "traits/*": [
        "dist/traits/*"
      ]
    }
  }
}
