<div class="plugin-card">
    <button class="all-button" mat-raised-button color="primary" *ngIf="!allPluginsEnabled" (click)="onEnableAll()">ENABLE ALL</button>
    <button class="all-button" mat-raised-button color="primary" *ngIf="!allPluginsDisabled" (click)="onDisableAll()">DISABLE ALL</button>
    <button class="all-button" mat-raised-button color="primary" *ngIf="updatesAvailable" (click)="onUpdateAll()">UPDATE ALL</button>
</div>
<mat-divider></mat-divider>
<mat-card class="plugin-card" *ngFor="let plugin of installedPlugins">
    <mat-card-header>
        <mat-card-title>{{plugin.name}}</mat-card-title>
        <mat-card-subtitle class="enabledText" *ngIf="plugin.enabled">ENABLED</mat-card-subtitle>
        <mat-card-subtitle class="warningText" *ngIf="!plugin.enabled">DISABLED</mat-card-subtitle>
        <mat-card-subtitle class="warningText" *ngIf="plugin.updateAvailable">UPDATE AVAILABLE</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div *ngIf="plugin.description">{{plugin.description}}</div>
        <div>Version: {{plugin.version}}</div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" *ngIf="plugin.enabled" (click)="onDisablePlugin(plugin.plugin)">DISABLE</button>
        <button mat-raised-button color="primary" *ngIf="!plugin.enabled" (click)="onEnablePlugin(plugin.plugin)">ENABLE</button>
        <button mat-raised-button color="primary" *ngIf="plugin.updateAvailable" (click)="onUpdatePlugin(plugin.plugin)">UPDATE</button>
        <button mat-raised-button color="primary" (click)="onDeletePlugin(plugin.plugin)">DELETE</button>
    </mat-card-actions>
</mat-card>
