<div style="padding: 0px 10px;">
    Symbiota is an open source content management system for curating specimen- and observation-based
    biodiversity data. Symbiota works in conjunction with an underlying SQL database installed on a
    web server. Symbiota is currently utilized by hundreds of natural history collections in North America,
    which in turn are typically organized into 30 thematic portals. Jointly these portals
    have mobilized 20 million voucher occurrence records over the past 10 years. Symbiota portals
    encompass vascular plants, lichens, bryophytes, algae, fungi, invertebrates, and to a lesser degree
    vertebrates. Vouchered records can be linked to images, tissues, DNA sequence data, and other
    taxonomic information.
</div>
<div style="margin-top:10px;padding: 0px 10px;">
    A core goal of Symbiota is to offer a platform for documenting biodiversity occurrences based on
    specimens and observations, by providing modular tools to share, visualize and synthesize biodiversity
    data for question-driven research (e.g. via checklists and interactive keys). Creating robust,
    multi-functional biodiversity software and data processing workflows, as well as curating data
    relationships for flexible management and on-line publication, are each goals capable of overwhelming
    the IT resources of an individual collection. A central premise of Symbiota is that through a
    collaborative partnership of biodiversity informaticians and collection research communities, higher
    quality and more publicly useful biodiversity portals can be built, rather than the old model of often
    highly customized stand-alone databases at an individual institution. Symbiota's open source software
    development framework promotes use-driven code innovation and tool creation. All of this allows collection
    scientists to concentrate their efforts on the curation of high-quality datasets.
</div>
