/* You can add global styles to this file, and also import other style files */
@import "indigo-green-theme.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;
    background-color: #91BDB7;
}

fieldset {
    border: 2px solid grey;
    border-radius: 5px;
}

legend {
    padding: 0 5px;
    color: grey;
}

.error-snackbar {
    background-color: #ff4d4d;
    color: black;
}

.dynamic-tab-content {
    padding: 20px;
}

.flex-container {
    display: flex;
}
