/* You can add global styles to this file, and also import other style files */
@import "../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
}

body {
    width: 80%;
    margin: 25px auto;
    font-family: Verdana, Geneva, sans-serif;
    background-color: #91BDB7;
}

.error-snackbar {
    background-color: #ff4d4d;
    color: black;
}
