@import "indigo-green-theme.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #91BDB7;
}

input[type=text],
input[type=email],
input[type=number],
input[type=password],
textarea {
    display: block;
    background: #fff;
    font-size: 13px;
    padding: 6px 30px 6px 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

label {
    font-size: 13px;
    line-height: 1.5;
    font-weight: bold;
    display: block;
}

fieldset {
    border: 2px solid grey;
    border-radius: 5px;
}

legend {
    padding: 0 5px;
    color: grey;
}

.error-snackbar {
    background-color: #ff4d4d;
    color: black;
}

.dynamic-tab-content {
    padding: 20px;
}

.flex-container {
    display: flex;
}

.error-text {
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1;
    background: #B52D30;
    color: #fff;
    border-radius: 0 0 3px 3px;
    padding: 6px 10px;
}

.input-hint-text {
    line-height: 1.1em;
    font-size: 75%;
}
