a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:hover, a:active {
  color: lightgray;
}

.top-navigation-bar {
  background-color: #0E6B88;
  height: 60px;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.right-links {
  height: 100%;
  font-size: 13px;
  margin-right: 20px;
}

.left-links {
  height: 100%;
  margin-left: 20px;
}

.navigation-items-sub {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-items-sub a {
  color: black;
}

.side-nav-toggle {
  height: 100%;
  margin-left: 20px;
  color: white;
}
