.map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.ol-attribution{
    display: none;
}

.ol-zoom {
    top: 42px;
    left: auto;
    right: .5em;
}

.ol-zoom .ol-zoom-out {
    margin-top: 260px;
    left: auto;
    right: 8px;
}
.ol-zoomslider {
    background-color: transparent;
    top: 4.75em;
    left: auto;
    right: .5em;
    height:240px;
}

.ol-touch .ol-zoom .ol-zoom-out {
    margin-top: 252px;
    left: auto;
    right: .5em;
}
.ol-touch .ol-zoomslider {
    top: 5.25em;
    left: auto;
    right: .5em;
}
.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 270px;
}
.ol-popup-finder {
    min-width: 100px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 8px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "✖";
}

.mapscale_us {
    border-radius: 4px;
    bottom: 35px;
    z-index: 100;
    right: 25px;
    padding: 2px;
    position: absolute;
}
.mapscale_us-inner {
    border: 1px solid #eee;
    border-top: none;
    color: #eee;
    font-size: 10px;
    text-align: center;
    margin: 1px;
    will-change: contents, width;
}

.mapscale_metric {
    border-radius: 4px;
    bottom: 15px;
    z-index: 100;
    right: 25px;
    padding: 2px;
    position: absolute;
}
.mapscale_metric-inner {
    border: 1px solid #eee;
    border-top: none;
    color: #eee;
    font-size: 10px;
    text-align: center;
    margin: 1px;
    will-change: contents, width;
}

.mousecoordinates {
    font-size: 12px;
    color: white;
    z-index: 100;
    bottom: 55px;
    right: 18px;
    position: absolute;
}

#hiddenMouseCoords {
    position: absolute;
    top: -500px;
}

.mapinfo {
    bottom: 10px;
    right: 10px;
    padding: 5px;
    position: absolute;
    width: 200px;
    height:55px;
    z-index: 3;
    font-family: Arial, sans-serif;
    -moz-border-radius: 5px ! important;
    border-width: 1px 1px 0 0;
    background-color: #3c668d;
    opacity: 0.85;
}

.maptoolcontainer {
    position: absolute;
    top: 10px;
    left: 50%;
    z-index: 3;
}

.maptoolbox {
    position: relative;
    left: -50%;
    padding: 5px;
    display: block;
    width: 380px;
    z-index: 3;
    font-family: Arial, sans-serif;
    -moz-border-radius: 5px ! important;
    border-width: 1px 1px 0 0;
    background-color: #3c668d;
    opacity: 0.85;
}

.topToolboxRow {
    height: 25px;
    display: flex;
    justify-content: space-between;
}

.middleToolboxRow {
    height: 25px;
    display: flex;
    justify-content: flex-start;
}

.bottomToolboxRow {
    height: 20px;
    display: flex;
    justify-content: space-around;
}

.baseLayerSelect {
    width: 240px;
}

.maptext, .maptext a{
    font-size: 12px;
    margin-right: 5px;
    color: white;
}
body:-moz-full-screen {
    height: 100%;
}
body:-webkit-full-screen {
    height: 100%;
}
body:-ms-fullscreen {
    height: 100%;
}
body:fullscreen {
    height: 100%;
}
#map .ol-zoom-in.ol-has-tooltip:hover [role=tooltip],
#map .ol-zoom-in.ol-has-tooltip:focus [role=tooltip] {
    top: 43px;
    left: auto;
    right: .5em;
}

#map .ol-zoom-out.ol-has-tooltip:hover [role=tooltip],
#map .ol-zoom-out.ol-has-tooltip:focus [role=tooltip] {
    top: 272px;
    left: auto;
    right: .5em;
}
