<div id="map" class="map">
    <div class="mapinfo"></div>
    <div class="maptoolcontainer">
        <div class="maptoolbox">
            <div class="topToolboxRow">
                <div id="drawcontrol">
                    <span class="maptext">Draw</span>
                    <select id="drawselect" (change)="drawToolSelectChange($event.target)">
                        <option value="None">None</option>
                        <option value="Polygon">Polygon</option>
                        <option value="Circle">Circle</option>
                        <option value="LineString">Line</option>
                        <option value="Point">Point</option>
                    </select>
                </div>
                <div id="basecontrol">
                    <span class="maptext">Base Layer</span>
                    <select id="base-map" (change)="baseMapSelectChange($event.target)">
                        <option value="worldtopo">ESRI World Topo</option>
                        <option value="openstreet">OpenStreetMap</option>
                        <option value="blackwhite">Stamen Design Black &amp; White</option>
                        <option value="worldimagery">ESRI World Imagery</option>
                        <option value="ocean">ESRI Ocean</option>
                        <option value="ngstopo">National Geographic Topo</option>
                        <option value="natgeoworld">National Geographic World</option>
                        <option value="esristreet">ESRI StreetMap</option>
                    </select>
                </div>
            </div>
            <div class="middleToolboxRow">
                <div id="selectcontrol">
                    <span class="maptext">Active Layer</span>
                    <select class="baseLayerSelect" id="selectlayerselect" onchange="setActiveLayer();">
                        <option id="lsel-none" value="none">None</option>
                    </select>
                </div>
            </div>
            <div class="bottomToolboxRow">
                <div>
                    <span class="maptext"><a class="mapsettings_open" href="#mapsettings"><b>Settings</b></a></span>
                </div>
                <div>
                    <span class="maptext"><a class="maptools_open" href="#maptools"><b>Tools</b></a></span>
                </div>
                <div>
                    <span class="maptext"><a class="addLayers_open" href="#addLayers"><b>Layers</b></a></span>
                </div>
                <div>
                    <button type="button" onclick='deleteSelections();' >Delete Shapes</button>
                </div>
            </div>
        </div>
    </div>
</div>
