a {
    text-decoration: none;
    cursor: pointer;
    margin-left: 10px;
}

a:hover, a:active {
    color: gray;
}

.sidenav-links {
    height: 100%;
}

.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation-items-sub {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation-items-sub a {
    color: black;
}

.sidePanelToggleClose {
    padding-left: 25px;
    border-radius: 25px;
    position: absolute;
    top: 2px;
    right: -45px;
    z-index: 0;
    height: 25px;
    width: 35px;
    background-color: #EEEEEE;
    cursor: pointer;
}
