.framedWindow {
    width: 80%;
    margin: 25px auto;
}

.fullWindow {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

mat-sidenav-content, mat-sidenav {
    height: 100%;
    margin: 0;
}

mat-sidenav-container {
    height: 100%;
    margin: 0;
}

mat-sidenav {
    width: 400px;
    background-color: #EEEEEE;
    padding: 20px;
    color: black;
    overflow: visible;
    z-index: 20;
}

.mainFramedWindow {
    padding: 20px;
    min-height: 400px;
    background-color: white;
    transition: none !important;
    box-shadow: none !important;
    border: 0;
}

.mainFullWindow {}

.sidePanelToggleOpen {
    padding-left: 25px;
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: -15px;
    z-index: 10;
    height: 25px;
    width: 35px;
    background-color: #EEEEEE;
    cursor: pointer;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
