<mat-sidenav-container [ngClass]="{'fullWindow': fullWindow,'framedWindow': !fullWindow}">
    <mat-sidenav #sidenav role="navigation">
        <sidepanel-outlet [fullWindow]="fullWindow" (sidenavToggle)="sidenav.toggle()"></sidepanel-outlet>
    </mat-sidenav>
    <mat-sidenav-content>
        <header-outlet *ngIf="!fullWindow" (sidenavToggle)="sidenav.toggle()"></header-outlet>
        <main [ngClass]="{'mainFullWindow': fullWindow,'mainFramedWindow': !fullWindow}">
            <div class="sidePanelToggle" *ngIf="fullWindow" (click)="sidenav.toggle()">
                <mat-icon>arrow_forward_ios</mat-icon>
            </div>
            <router-outlet></router-outlet>
        </main>
        <footer-outlet *ngIf="!fullWindow"></footer-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

