<div fxFlex fxLayout fxLayoutAlign="start" class="sidenav-links" fxHide.gt-sm>
    <ul fxLayout="column" fxLayoutGap="20px" class="navigation-items">
        <li fxHide.gt-xs *ngIf="(isLoggedIn$ | async) && (currentUser$ | async) as user">Welcome {{user.firstName}}!</li>
        <li fxHide.gt-xs *ngIf="isLoggedIn$ | async"><a routerLink="/viewprofile">My Profile</a></li>
        <li fxHide.gt-xs *ngIf="isLoggedIn$ | async" (click)="onLogout()"><a>Logout</a></li>
        <li fxHide.gt-xs *ngIf="isLoggedOut$ | async" (click)="openLoginDialog()"><a (click)="toggleSidenav()">Login</a></li>
        <li fxHide.gt-xs *ngIf="isLoggedOut$ | async"><a routerLink="/signup" (click)="toggleSidenav()">New Account</a></li>
        <li fxHide.gt-sm><a routerLink="/" (click)="toggleSidenav()">Home</a></li>
        <li fxHide.gt-sm><a [matMenuTriggerFor]="searchSide">Search</a></li>
        <li fxHide.gt-sm><a [matMenuTriggerFor]="imagesSide">Images</a></li>
        <li fxHide.gt-sm><a [matMenuTriggerFor]="symbiotaSide">Symbiota</a></li>
        <li fxHide.gt-xs><a routerLink="/sitemap" (click)="toggleSidenav()">Sitemap</a></li>
    </ul>
</div>
<mat-menu #searchSide="matMenu">
    <ul fxLayout="column" fxLayoutGap="15px" class="navigation-items-sub">
        <li mat-menu-item><a routerLink="/searchcollections" (click)="toggleSidenav()">Search Collections</a></li>
        <li mat-menu-item><a routerLink="/spatial" (click)="toggleSidenav()">Spatial Search</a></li>
        <li mat-menu-item><a routerLink="/dynamicchecklist" (click)="toggleSidenav()">Dynamic Checklist</a></li>
        <li mat-menu-item><a routerLink="/taxonomyexplorer" (click)="toggleSidenav()">Taxonomy Explorer</a></li>
    </ul>
</mat-menu>
<mat-menu #imagesSide="matMenu">
    <ul fxLayout="column" fxLayoutGap="15px" class="navigation-items-sub">
        <li mat-menu-item><a routerLink="/imagesearch" (click)="toggleSidenav()">Image Search</a></li>
        <li mat-menu-item><a routerLink="/imagelibrary" (click)="toggleSidenav()">Image Library</a></li>
    </ul>
</mat-menu>
<mat-menu #symbiotaSide="matMenu">
    <ul fxLayout="column" fxLayoutGap="15px" class="navigation-items-sub">
        <li mat-menu-item><a href="http://symbiota.org/docs/" target="_blank" (click)="toggleSidenav()">Symbiota</a>
        </li>
        <li mat-menu-item><a href="http://symbiota.org/docs/symbiota-introduction/symbiota-help-pages/" target="_blank"
                             (click)="toggleSidenav()">Symbiota Help</a></li>
        <li mat-menu-item><a href="http://symbiota.org/docs/google-group/" target="_blank" (click)="toggleSidenav()">Sybmbiota
            Google Group</a></li>
    </ul>
</mat-menu>
