<div class="sidePanelToggleClose" *ngIf="fullWindow" (click)="toggleSidenav()">
    <mat-icon>arrow_back_ios</mat-icon>
</div>
<mat-tab-group animationDuration="0ms">
    <mat-tab *ngFor="let tab of tabsArr">
        <ng-template mat-tab-label>
            {{tab.tab_text}}
        </ng-template>
        <app-plugin-outlet class="dynamic-tab-content" *ngIf="tab.module" [file]="tab.filename" [module]="tab.module" [provider]="tab.provider" [child]="true"></app-plugin-outlet>
        <ng-container *ngIf="!tab.module">
            <ng-container *ngComponentOutlet="tab.component"></ng-container>
        </ng-container>
    </mat-tab>
</mat-tab-group>
