a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

a:hover, a:active {
    color: lightgray;
}

.sidenav-links {
    height: 100%;
}

.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation-items-sub {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation-items-sub a {
    color: black;
}

.sidePanelToggle {
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 1000;
    height: 25px;
    width: 20px;
    background-color: #0E6B88;
    cursor: pointer;
}
