*
!*/
!.gitignore
!/checklist/**
!/collection/**
!/crowd-source/**
!/exsiccati/**
!/glossary/**
!/image-processor/**
!/key/**
!/media/**
!/occurrence/**
!/occurrence-association/**
!/occurrence-comment/**
!/occurrence-dataset/**
!/occurrence-genetic/**
!/occurrence-loan/**
!/occurrence-search/**
!/referencer/**
!/symbiota-auth/**
!/symbiota-plugin/**
!/symbiota-plugin-loader/**
!/symbiota-shared/**
!/symbiota-spatial/**
!/taxa/**
!/traits/**
