mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 300px;
    background-color: #0E6B88;
    padding: 20px;
    color: white;
}

main {
    padding: 20px;
    min-height: 400px;
    background-color: white;
    transition: none !important;
    box-shadow: none !important;
    border: 0px;
}
