<div [formGroup]="parent">
    <div class="userMetadataContainer" formGroupName="user_metadata">
        <div class="firstNameFormElement">
            <label>
                {{ 'core.user.user_metadata.first_name_box' | translate }}
                <input type="text" class="firstNameInputBox" formControlName="firstName" maxlength="45">
            </label>
            <div class="error-text" *ngIf="firstNameRequired">
                {{ 'core.user.blank_error' | translate }}
            </div>
        </div>
        <div class="middleInitialFormElement">
            <label>
                {{ 'core.user.user_metadata.middle_initial_box' | translate }}
                <input type="text" class="middleInitialInputBox" formControlName="middleInitial" maxlength="2">
            </label>
        </div>
        <div class="lastNameFormElement">
            <label>
                {{ 'core.user.user_metadata.last_name_box' | translate }}
                <input type="text" class="lastNameInputBox" formControlName="lastName" maxlength="45">
            </label>
            <div class="error-text" *ngIf="lastNameRequired">
                {{ 'core.user.blank_error' | translate }}
            </div>
        </div>
        <div class="emailFormElement">
            <label>
                {{ 'core.user.user_metadata.email_address_box' | translate }}
                <input type="email" class="emailInputBox" email formControlName="email" maxlength="100">
            </label>
            <div class="error-text" *ngIf="emailRequired">
                {{ 'core.user.blank_error' | translate }}
            </div>
            <div class="error-text" *ngIf="emailInvalid">
                {{ 'core.user.user_metadata.email_invalid_error' | translate }}
            </div>
            <div class="error-text" *ngIf="emailCheckingEmail">
                {{ 'core.user.user_metadata.email_checking' | translate }}
            </div>
            <div class="error-text" *ngIf="emailEmailAlreadyUsed">
                {{ 'core.user.user_metadata.email_registered_error' | translate }}
            </div>
        </div>
        <div class="titleFormElement">
            <label>
                {{ 'core.user.user_metadata.title_box' | translate }}
                <input type="text" class="titleInputBox" formControlName="title" maxlength="150">
            </label>
        </div>
        <div class="institutionFormElement">
            <label>
                {{ 'core.user.user_metadata.institution_box' | translate }}
                <input type="text" class="institutionInputBox" formControlName="institution" maxlength="200">
            </label>
        </div>
        <div class="departmentFormElement">
            <label>
                {{ 'core.user.user_metadata.department_box' | translate }}
                <input type="text" class="departmentInputBox" formControlName="department" maxlength="200">
            </label>
        </div>
        <div class="addressFormElement">
            <label>
                {{ 'core.user.user_metadata.street_address_box' | translate }}
                <input type="text" class="addressInputBox" formControlName="address" maxlength="255">
            </label>
        </div>
        <div class="cityFormElement">
            <label>
                {{ 'core.user.user_metadata.city_box' | translate }}
                <input type="text" class="cityInputBox" formControlName="city" maxlength="100">
            </label>
        </div>
        <div class="stateFormElement">
            <label>
                {{ 'core.user.user_metadata.state_box' | translate }}
                <input type="text" class="stateInputBox" formControlName="state" maxlength="50">
            </label>
        </div>
        <div class="zipFormElement">
            <label>
                {{ 'core.user.user_metadata.zip_code_box' | translate }}
                <input type="text" class="zipInputBox" formControlName="zip" maxlength="15">
            </label>
        </div>
        <div class="countryFormElement">
            <label>
                {{ 'core.user.user_metadata.country_box' | translate }}
                <input type="text" class="countryInputBox" formControlName="country" maxlength="50">
            </label>
        </div>
        <div class="urlFormElement">
            <label>
                {{ 'core.user.user_metadata.url_box' | translate }}
                <input type="text" class="urlInputBox" formControlName="url" maxlength="400">
            </label>
        </div>
        <div class="biographyFormElement">
            <label>
                {{ 'core.user.user_metadata.biography_box' | translate }}
                <textarea class="biographyInputBox" formControlName="biography" #biography maxlength="1500"></textarea>
            </label>
            <div class="input-hint-text">{{ biography.value?.length }} / 1500</div>
        </div>
        <div class="isPublicFormElement">
            <label>
                <input type="checkbox" (change)="setIsPublicValue($event)" [checked]="isPublicValue" /> {{ 'core.user.user_metadata.is_public_text' | translate }}
            </label>
            <input type="hidden" formControlName="isPublic">
        </div>
    </div>
</div>
