<div class="flex-container">
    <div class="left-part">
        <mat-card>
            <mat-card-content>
                <form [formGroup]="formGroup">
                    <fieldset [formGroup]="formGroup" class="flex-container">
                        <legend>Droid form</legend>

                        <mat-form-field>
                            <mat-select data-select-droid-type placeholder="Select droid type" [formControlName]="formControlNames.droidType">
                                <mat-option
                                    data-select-droid-type-option
                                    *ngFor="let droidType of (DroidType | keyvalue)"
                                    [value]="droidType.value"
                                >
                                    {{ droidType.value }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <fieldset [formGroup]="formGroup" class="container">
                            <legend>Astromech Droid form</legend>

                            <mat-form-field>
                                <input matInput type="color" placeholder="Color" [formControlName]="formControlNames.color" autocomplete="off" />
                            </mat-form-field>

                            <mat-form-field>
                                <input matInput type="text" placeholder="Name" [formControlName]="formControlNames.name" autocomplete="off" />
                            </mat-form-field>

                            <mat-form-field>
                                <input
                                    matInput
                                    type="number"
                                    placeholder="Number of tools carried"
                                    [formControlName]="formControlNames.toolCount"
                                    autocomplete="off"
                                />
                            </mat-form-field>

                            <mat-form-field>
                                <mat-select placeholder="Select the droid shape" [formControlName]="formControlNames.shape">
                                    <mat-option *ngFor="let shape of (AstromechDroidShape | keyvalue)" [value]="shape.value">
                                        {{ shape.value }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </fieldset>
                    </fieldset>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <div *ngIf="true">
                    <button
                        mat-raised-button
                        color="primary"
                        (click)="manualSave()"
                        [disabled]="formGroup.invalid || formGroup.disabled"
                    >
                        Upsert
                    </button>

                    <div *ngIf="formGroup.invalid" class="invalid-form">
                        Form is invalid
                    </div>
                </div>
            </mat-card-actions>
        </mat-card>

        <mat-card class="errors">
            <mat-card-title>Form errors</mat-card-title>

            <mat-card-content>
                <pre *ngIf="formGroupErrors as errors; else noError" data-errors>{{ errors | json }}</pre>

                <ng-template #noError>
                  <span data-no-error>
                    Form is valid, no error!
                  </span>
                </ng-template>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="right-part">
        <mat-slide-toggle class="readonly" data-readonly [formControl]="readonlyFormControl">Readonly</mat-slide-toggle>

    </div>
</div>
