[
  {
    "name": "checklist",
    "title": "Checklist Plugin",
    "source": "local",
    "version": "0.0.1",
    "description": "A plugin to create, modify, and manage species checklists within Symbiota.",
    "dependencies": [
      "occurrence",
      "taxa"
    ],
    "api_namespace": "Checklist",
    "ui_filename": "checklist.umd.js",
    "ui_module_name": "ChecklistModule",
    "enabled": true
  },
  {
    "name": "collection",
    "title": "Collection Plugin",
    "source": "local",
    "version": "0.0.1",
    "description": "A plugin to create and manage occurrence collections within Symbiota.",
    "api_namespace": "Collection",
    "ui_filename": "collection.umd.js",
    "ui_module_name": "CollectionModule",
    "tab_hooks": [
      {
        "outlet": "user-profile",
        "tab_text_translation_key": "collection.specimen_management_tab",
        "index": 1,
        "provider": "user-profile-collection-tab"
      }
    ],
    "enabled": true
  },
  {
    "name": "crowd-source",
    "title": "Crowd Source Plugin",
    "source": "local",
    "version": "0.0.1",
    "description": "A plugin to allow crowd-sourcing for occurrence data edits.",
    "dependencies": [
      "occurrence"
    ],
    "api_namespace": "CrowdSource",
    "ui_filename": "crowd-source.umd.js",
    "ui_module_name": "CrowdSourceModule",
    "enabled": true
  },
  {
    "name": "exsiccati",
    "title": "Exsiccati Plugin",
    "source": "local",
    "version": "0.0.1",
    "description": "A plugin to connect exsiccati data with occurrence records.",
    "dependencies": [
      "occurrence"
    ],
    "api_namespace": "Exsiccati",
    "ui_filename": "exsiccati.umd.js",
    "ui_module_name": "ExsiccatiModule",
    "enabled": true
  },
  {
    "name": "glossary",
    "title": "Glossary Plugin",
    "source": "local",
    "version": "0.0.1",
    "description": "A plugin to add glossary module to Symbiota.",
    "dependencies": [
      "taxa"
    ],
    "api_namespace": "Glossary",
    "ui_filename": "glossary.umd.js",
    "ui_module_name": "GlossaryModule",
    "enabled": true
  },
  {
    "name": "image-processor",
    "title": "Image Processor Plugin",
    "source": "local",
    "version": "0.0.1",
    "description": "A plugin to add the batch image processing module to Symbiota.",
    "dependencies": [
      "media",
      "collection"
    ],
    "api_namespace": "ImageProcessor",
    "ui_filename": "image-processor.umd.js",
    "ui_module_name": "ImageProcessorModule",
    "enabled": true
  },
  {
    "name": "key",
    "title": "Key Plugin",
    "source": "local",
    "version": "0.0.1",
    "description": "A plugin to add the key module to Symbiota.",
    "dependencies": [
      "taxa"
    ],
    "api_namespace": "Key",
    "ui_filename": "key.umd.js",
    "ui_module_name": "KeyModule",
    "enabled": true
  },
  {
    "name": "media",
    "title": "Media Plugin",
    "source": "local",
    "version": "0.0.1",
    "description": "A plugin to add the management of media files to Symbiota.",
    "dependencies": [
      "occurrence"
    ],
    "api_namespace": "Media",
    "ui_filename": "media.umd.js",
    "ui_module_name": "MediaModule",
    "enabled": true
  },
  {
    "name": "occurrence",
    "title": "Occurrence Plugin",
    "source": "local",
    "version": "0.0.1",
    "description": "A plugin to add the managment of occurrence records within Symbiota.",
    "dependencies": [
      "collection",
      "taxa"
    ],
    "api_namespace": "Occurrence",
    "ui_filename": "occurrence.umd.js",
    "ui_module_name": "OccurrenceModule",
    "enabled": true
  },
  {
    "name": "occurrence-association",
    "title": "Occurrence Assiciations Plugin",
    "source": "local",
    "version": "0.0.1",
    "description": "A plugin to track associations within occurrence records.",
    "dependencies": [
      "occurrence"
    ],
    "api_namespace": "OccurrenceAssociation",
    "ui_filename": "occurrence-association.umd.js",
    "ui_module_name": "OccurrenceAssociationModule",
    "enabled": true
  },
  {
    "name": "occurrence-comment",
    "title": "Occurrence Comments Plugin",
    "source": "local",
    "version": "0.0.1",
    "description": "A plugin to add the ability to add comments to occurrence records.",
    "dependencies": [
      "occurrence"
    ],
    "api_namespace": "OccurrenceComment",
    "ui_filename": "occurrence-comment.umd.js",
    "ui_module_name": "OccurrenceCommentModule",
    "enabled": true
  },
  {
    "name": "occurrence-dataset",
    "title": "Occurrence Dataset Plugin",
    "source": "local",
    "version": "0.0.1",
    "description": "A plugin to add the occurrence dataset module to Symbiota.",
    "dependencies": [
      "occurrence"
    ],
    "api_namespace": "OccurrenceDataset",
    "ui_filename": "occurrence-dataset.umd.js",
    "ui_module_name": "OccurrenceDatasetModule",
    "enabled": true
  },
  {
    "name": "occurrence-genetic",
    "title": "Occurrence Genetic Plugin",
    "source": "local",
    "version": "0.0.1",
    "description": "A plugin to add the ability to link genetic data to occurrence records.",
    "dependencies": [
      "occurrence"
    ],
    "api_namespace": "OccurrenceGenetic",
    "ui_filename": "occurrence-genetic.umd.js",
    "ui_module_name": "OccurrenceGeneticModule",
    "enabled": true
  },
  {
    "name": "occurrence-loan",
    "title": "Occurrence Loan Plugin",
    "source": "local",
    "version": "0.0.1",
    "description": "A plugin to add the occurrence loans module to Symbiota.",
    "dependencies": [
      "occurrence"
    ],
    "api_namespace": "OccurrenceLoan",
    "ui_filename": "occurrence-loan.umd.js",
    "ui_module_name": "OccurrenceLoanModule",
    "enabled": true
  },
  {
    "name": "occurrence-search",
    "title": "Search Occurrences Plugin",
    "source": "local",
    "version": "0.0.1",
    "description": "A plugin that adds the Search Collections module to Symbiota.",
    "dependencies": [
      "collection"
    ],
    "ui_filename": "occurrence-search.umd.js",
    "ui_module_name": "OccurrenceSearchModule",
    "ui_routes": [
      {
        "path": "searchcollections",
        "provider": "occurrence-search"
      }
    ],
    "enabled": true
  },
  {
    "name": "reference",
    "title": "Reference Plugin",
    "source": "local",
    "version": "0.0.1",
    "description": "A plugin that adds the reference module to Symbiota.",
    "api_namespace": "Reference",
    "ui_filename": "reference.umd.js",
    "ui_module_name": "ReferenceModule",
    "enabled": true
  },
  {
    "name": "taxa",
    "title": "Taxa Plugin",
    "source": "local",
    "version": "0.0.1",
    "description": "Adds the Taxa module to manage taxonomic data.",
    "api_namespace": "Taxa",
    "ui_filename": "taxa.umd.js",
    "ui_module_name": "TaxaModule",
    "enabled": true
  },
  {
    "name": "traits",
    "title": "Traits Plugin",
    "source": "local",
    "version": "0.0.1",
    "description": "Adds the Traits Module to Symbiota.",
    "dependencies": [
      "taxa"
    ],
    "api_namespace": "Traits",
    "ui_filename": "traits.umd.js",
    "ui_module_name": "TraitsModule",
    "enabled": true
  }
]
