<mat-card class="footer-card" fxLayout="row" fxLayoutAlign="center center" fxHide.xs>
    <div class="NSFImageContainer">
        <a href="" target="_blank"><img class="NSFLogo" src="/assets/images/layout/NSF_web_transperent.gif"
                                        alt="{{ 'core.layout.footer.nsf_logo_alt_text' | translate }}"/></a>
    </div>
    <div class="NSFstatement">
        <b>{{ 'core.layout.footer.nsf_text' | translate }} <a href="" target="_blank">{{ 'core.layout.footer.nsf_link' | translate }}</a></b>
    </div>
</mat-card>
