<div [formGroup]="parent">
    <div class="userPasswordContainer" formGroupName="user_password">
        <div class="passwordFormElement">
            <label>
                {{ passwordText }}
                <input type="password" class="passwordInputBox" minlength="6" (change)="checkPasswords()" formControlName="password" maxlength="45">
            </label>
            <div class="error-text" *ngIf="passwordRequired">
                {{ 'core.user.blank_error' | translate }}
            </div>
            <div class="error-text" *ngIf="passwordLength">
                {{ 'core.user.user_password.password_long_error' | translate }}
            </div>
            <div class="error-text" *ngIf="passwordSpace">
                {{ 'core.user.user_password.password_space_error' | translate }}
            </div>
            <div class="error-text" *ngIf="passwordNumber">
                {{ 'core.user.user_password.password_number_error' | translate }}
            </div>
            <div class="error-text" *ngIf="passwordLetter">
                {{ 'core.user.user_password.password_letter_error' | translate }}
            </div>
            <div class="error-text" *ngIf="passwordMatch">
                {{ 'core.user.user_password.password_match_error' | translate }}
            </div>
            <div class="input-hint-text">{{ 'core.user.user_password.password_length' | translate }}</div>
        </div>

        <div class="retypedPasswordFormElement">
            <label>
                {{ retypedPasswordText }}
                <input type="password" class="passwordInputBox" minlength="6" (change)="checkPasswords()" formControlName="retypedPassword" maxlength="45">
            </label>
            <div class="error-text" *ngIf="retypedPasswordRequired">
                {{ 'core.user.blank_error' | translate }}
            </div>
            <div class="error-text" *ngIf="retypedPasswordLength">
                {{ 'core.user.user_password.password_long_error' | translate }}
            </div>
            <div class="error-text" *ngIf="retypedPasswordSpace">
                {{ 'core.user.user_password.password_space_error' | translate }}
            </div>
            <div class="error-text" *ngIf="retypedPasswordNumber">
                {{ 'core.user.user_password.password_number_error' | translate }}
            </div>
            <div class="error-text" *ngIf="retypedPasswordLetter">
                {{ 'core.user.user_password.password_letter_error' | translate }}
            </div>
            <div class="error-text" *ngIf="passwordMatch">
                {{ 'core.user.user_password.password_match_error' | translate }}
            </div>
            <div class="input-hint-text">{{ retypedPasswordHint }}</div>
        </div>
    </div>
</div>
