mat-form-field {
    width: 400px;
}

.userPasswordContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 10px;
}
