<div [formGroup]="parent">
    <div class="userPasswordContainer" formGroupName="user_password">
        <mat-form-field>
            <input type="password" matInput placeholder="{{ passwordText }}" minlength="6"
                   (change)="checkPasswords()" formControlName="password" maxlength="45">
            <mat-hint>{{ 'core.user.user_password.password_length' | translate }}</mat-hint>
            <div class="error-text" *ngIf="passwordRequired">
                {{ 'core.user.blank_error' | translate }}
            </div>
            <div class="error-text" *ngIf="passwordLength">
                {{ 'core.user.user_password.password_long_error' | translate }}
            </div>
            <div class="error-text" *ngIf="passwordSpace">
                {{ 'core.user.user_password.password_space_error' | translate }}
            </div>
            <div class="error-text" *ngIf="passwordNumber">
                {{ 'core.user.user_password.password_number_error' | translate }}
            </div>
            <div class="error-text" *ngIf="passwordLetter">
                {{ 'core.user.user_password.password_letter_error' | translate }}
            </div>
            <div class="error-text" *ngIf="passwordMatch">
                {{ 'core.user.user_password.password_match_error' | translate }}
            </div>
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput placeholder="{{ retypedPasswordText }}" minlength="6"
                   (change)="checkPasswords()" formControlName="retypedPassword" maxlength="45">
            <mat-hint>{{ retypedPasswordHint }}</mat-hint>
            <div class="error-text" *ngIf="retypedPasswordRequired">
                {{ 'core.user.blank_error' | translate }}
            </div>
            <div class="error-text" *ngIf="retypedPasswordLength">
                {{ 'core.user.user_password.password_long_error' | translate }}
            </div>
            <div class="error-text" *ngIf="retypedPasswordSpace">
                {{ 'core.user.user_password.password_space_error' | translate }}
            </div>
            <div class="error-text" *ngIf="retypedPasswordNumber">
                {{ 'core.user.user_password.password_number_error' | translate }}
            </div>
            <div class="error-text" *ngIf="retypedPasswordLetter">
                {{ 'core.user.user_password.password_letter_error' | translate }}
            </div>
            <div class="error-text" *ngIf="passwordMatch">
                {{ 'core.user.user_password.password_match_error' | translate }}
            </div>
        </mat-form-field>
    </div>
</div>
