<mat-card *ngIf="currentPermissions !== []" class="upper-cards">
    <mat-card-header>
        {{ 'core.user.user_permissions_current.current_permissions' | translate }}
    </mat-card-header>
    <mat-card-content>
        <ul>
            <app-super-admin-current-permission></app-super-admin-current-permission>
            <ng-container *ngIf="globalPermissionComponentsArr.length > 0">
                <ng-container *ngFor="let component of globalPermissionComponentsArr">
                    <app-plugin-outlet class="dynamic-tab-content" *ngIf="component.module" [file]="component.filename" [module]="component.module" [provider]="component.provider" [child]="true" [params]="component.params" (changeEmitter)="processPermissionChange()"></app-plugin-outlet>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="itemPermissionComponentsArr.length > 0">
                <ng-container *ngFor="let component of itemPermissionComponentsArr">
                    <app-plugin-outlet class="dynamic-tab-content" *ngIf="component.module" [file]="component.filename" [module]="component.module" [provider]="component.provider" [child]="true" [params]="component.params" (changeEmitter)="processPermissionChange()"></app-plugin-outlet>
                </ng-container>
            </ng-container>
        </ul>
    </mat-card-content>
</mat-card>
